# 4.6 Combining and Exporting Data

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/ajahanderson/Documents/Instacart Basket Analysis 11-13-2023'

In [11]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [7]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [9]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [13]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.shape

(3421083, 8)

In [16]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,day_of_week_order_placed,order_time,days_since_prior_order,"('user_id',)",product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,0,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [23]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64