In [2]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import scipy

In [3]:
# import new dataset
path = r'/Users/ajahanderson/Documents/Instacart Basket Analysis 11-13-2023'

In [4]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)
df_instacart = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_updated_2_part1.pkl'))

In [5]:
#checking the df
df_customers.shape

(206209, 10)

In [6]:
#checkinf the df
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [8]:
#renaming columns
df_customers.rename(columns = {'First Name' : 'first_name', 'Surnam' : 'last_name','STATE': 'State','n_dependants':'n_dependents','Age':'age','Gender':'gender'}, inplace = True)

In [9]:
#checking the datatype for the columns
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   State         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependents  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [10]:
#checking for mixed data types
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/5t/s295bnhn7bvf1407s3py_b8h0000gn/T/ipykernel_4496/537449218.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)

In [11]:
#changing the type of data
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [12]:
#changing the type of data
df_customers['date_joined'] = pd.to_datetime(df_customers['date_joined'])

In [13]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    206209 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   State         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  datetime64[ns]
 7   n_dependents  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 15.7+ MB

In [14]:
#checking for duplicate values
df_dups = df_customers[df_customers.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, State, age, date_joined, n_dependents, fam_status, income]
Index: []

In [20]:
#dropping the column that's not needed

KeyError: "['_merge'] not found in axis"

In [17]:
#merging the two datasets together
df_merged = pd.merge(df_customers,df_instacart, on = ['user_id'], indicator = True)

In [19]:
df_merged.head()

,user_id,first_name,last_name,gender,State,age,date_joined,n_dependents,fam_status,income,...,busiest_day,business_volume,busiest_period_of_day,max_order,loyalty_flag,mean_spent,spending_flag,order_frequency,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,12.6,High Spender,30.0,Non-frequent customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,12.6,High Spender,30.0,Non-frequent customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,12.6,High Spender,30.0,Non-frequent customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,12.6,High Spender,30.0,Non-frequent customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,Regularly busy,Slowiest days,Most orders,8,New customer,12.6,High Spender,30.0,Non-frequent customer,both

In [18]:
df_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_customers_left.pkl'))